<h1>Score</h1>
<h2>So you found the word ... <%= @word %></h2>
<h2>Time take to answer ... <%= @time_taken %></h2>
<h2>Your score is: <%= @score %></h2>
<p><%= @message %></p>

<%= link_to "Play again", new_path %>
